// # This is a comment 

// app/page.tsx
export default function Home() {
  return (
    <div className="page">
      <h1>THIS IS SICK!</h1>
    </div>
  );
}

// styles/globals.scss
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// README.md

// .gitignore
./node_modules

// # Dependencies

next
react
react-dom
scss

// # DevDependencies
typescript
@types/react