// # This is a comment 

// app/page.tsx
export default function [COMPONENT_NAME=Component]() {
  return (
    <[ELEMENT=div] className="[CLASS_NAME=container]">
      Hello world
    </[ELEMENT=div]>
  );
}

// styles/globals.scss
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// README.md

// .gitignore
**/node_modules/

// # COMPONENTS

// # Dependencies

next
react
react-dom
scss

// # DevDependencies
typescript
@types/react